@import "../../../themes/defaults.scss";

$table_display: (
  default: none,
  xxs: none,
  xs: none,
  sm: block,
  md: block,
  lg: block,
  xl: block,
  xxl: block
) !default;

$table_sm_display: (
  default: block,
  xxs: block,
  xs: block,
  sm: none,
  md: none,
  lg: none,
  xl: none,
  xxl: none
) !default;

.btnRouter {
  margin-bottom: 12px;
}

.content {
  padding: 12px;
}

.table {
  @include responsive-rule(display, $table_display);
}

.table_sm {
  @include responsive-rule(display, $table_sm_display);
}

mat-grid-list.records_header {
  font-size: .95rem;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.54);
  border-bottom: 1px solid #8080802b;
}

mat-grid-list.records {
  border-bottom: 1px solid #8080802b;
}